body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #454545;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 25rem;
  background-color: #454545;
}

.box {
  height: 4rem;
  padding: 2rem;
  background-color: #6d5959;
  color: lightgray;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px #00000026;
}

.button {
  width: 120px;
  height: 30px;
  background-color: #9dcbba;
  border-color: #abebd2;
}

.button-md {
  width: 220px;
  font-weight: bolder;
  color: #42554e;
  height: 60px;
  background-color: #9dcbba;
  border-radius: 10px;
  border: 5px solid #749689;

  box-shadow: 10px 5px 5px #00000026;
}

.button-md:hover {
  box-shadow: 10px 5px 5px #00000069;
}

.button-md:active {
  width: 220px;
  height: 60px;
  background-color: #749689;
  border-radius: 10px;
  border: 4px solid #577067;
}
